$accent-color: #fa326c;
$secondary-color:#7E7E82;
$text-color: #1B1C21;



$border-accent-color:#D9FFF5;
$border-secondary-color:#EAEAEA;


$font-regular:'TT Lakes Regular', sans-serif;
$font-medium:'TT Lakes Medium', sans-serif;
$font-bold:'TT Lakes Bold', sans-serif;
