.nav-menu {
  position: fixed;
  width: 320px;
  height: 100vh;
  padding: 18px 16px 32px;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2);
  -ms-overflow-style: none;
  overflow-y: scroll;
  flex-direction: column;
  z-index: 10;
  display: none;
  background: #ffffff;

  &__search-btn {
    margin-left: auto;
  }

  &__wrapper {
    background: #ffffff;
  }

  .nav-list__wrapper {
    margin-top: 46px;
  }

  &__footer {
    margin-top: auto;
    margin-bottom: 0;
  }

  &__telegram {
    margin-top: 16px;
  }

  &__link {
    font-family: $font-medium;
    font-weight: 500;
  }

  &__mail {
    transition: color 0.3s;
    &:hover {
      color: #41F6D7;
    }
  }

  &__tel {
    font-size: 24px;
    line-height: 32px;
    font-family: $font-bold;
    transition: color 0.3s;
    &:hover {
      color: #41F6D7;
    }
  }

  &__number {
    margin-top: 12px;
  }

  &__language {
    margin-top: 40px;
  }

  &__language-link {
    font-family: $font-medium;
    font-weight: 500;
    transition: color 0.3s;
    &:hover {
      color: #41F6D7;
    }
  }

  &__language-link + &__language-link {
    margin-left: 6px;
  }

  &__language-link--active {
    color: $secondary-color;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  .menu-logo__line--active {
    display: none;
  }
}

@media screen and(min-width: 360px) {
  .nav-menu {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and(max-width: 360px) {
  .nav-menu__footer {
    margin-top: 0;
  }
}

@media screen and (min-width: 1366px){
  .nav-menu {
    display: flex;
    position: static;
    overflow: hidden;
    box-shadow: none;
  }
}

.nav-menu--active {
  display: block;
  background: #ffffff;
  position: fixed;
}
