@import "btn__next";

.fix-technics {
  &__title {
    margin-top: 24px;
  }

  &__card {
    width: 206px;
    height: 126px;
    padding: 16px;
    border: 1px solid #EAEAEA;
    background: #FFFFFF;
    border-radius: 6px;
    margin-top: 16px;
    position: relative;
  }

  &__card + &__card {
    margin-left: 16px;
  }

  &__card-btn {
    position: absolute;
    right: 16px;
    bottom: 16px;
  }
}
