@import "utils/variables";
@import "burger";

.header {
  background: #ffffff;
  &__wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 88px;
  }

  &__box {
   display: flex;
   align-items: center;
  }

  &__logo {
    margin-left: 16px;
  }

  &__icon-list {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    &:before {
      content: '';
      background: #EAEAEA;
      border-radius: 1px;
      height: 32px;
      width: 2px;
      position: absolute;
      left: 0;
      top: 4px;
    }
    &--item + &--item {
      margin-left: 16px;
    }
  }

}
