.menu {
  border-bottom: 1px solid $border-accent-color;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
    background: #ffffff;
  }

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-wrapper {
    margin-left: 16px;
  }

}

.contacts-list__wrapper {
  margin-right: 20px;
}


@media screen and (min-width: 768px) {
  .menu-logo__inner--line--left {
    margin-left: 20px;
    padding-left: 20px;
    &:before {
      content: '';
      position: absolute;
      height: 32px;
      width: 2px;
      left: 0;
      top: 10px;
      border-radius: 1px;
      background: $border-secondary-color;
    }
  }
}

@media screen and (min-width: 1120px) {

  .menu {
    border-bottom: 0;
  }

  .menu__box1 {
    display: none;
  }

  .menu__wrapper {
    background: none;
  }

  .menu__box2 {
    margin-top: -4px;
    margin-left: auto;
  }
}

