@media screen and (min-width: 320px) {
  .menu {
    border-bottom: 1px solid $border-accent-color;
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 88px;
      background: #ffffff;
    }

    &__box {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__logo-wrapper {
      margin-left: 16px;
    }

    &__btn-line {
      width: 10px;
      height: 2px;
      background: #ffffff;
      position: relative;
      left: -4px;
      &:before {
        content: '';
        width: 18px;
        height: 2px;
        background: #ffffff;
        position: absolute;
        left: 0;
        top:-7px;
      }
      &:after {
        content: '';
        width: 14px;
        height: 2px;
        background: #ffffff;
        position: absolute;
        left: 0;
        top:7px;
      }
    }
  }

  .contacts-list__wrapper {
    margin-right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .menu {
    &__logo-wrapper {
      display: flex;
      align-items: center;
      position: relative;
      padding-left: 20px;
      margin-left: 20px;
      &:before {
        content: '';
        position: absolute;
        height: 32px;
        width: 2px;
        left: 0;
        top: 10px;
        border-radius: 1px;
        background: $border-secondary-color;
      }
    }
  }
}

@media screen and (min-width: 1120px) {
  .menu {
    border-bottom: none;
      &__logo-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        padding-left: 20px;
        margin-left: 20px;
        &:before {
          content: '';
          position: absolute;
          height: 32px;
          width: 2px;
          left: 0;
          top: 4px;
          border-radius: 1px;
          background: $border-secondary-color;
        }
      }

    &__wrapper {
      background: none;
    }

    &__box1 {
      display: none;
    }

    &__box2 {
      margin-top: -4px;
      margin-left: auto;
    }
  }
}

