@import "utils/variables";
@import "btn__all";

.service {
  padding-top: 24px;
  border-top: 1px solid $border-accent-color;
  &__title {
    font-family: $font-bold;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    padding:0 16px 0;
    position: relative;
    &:before {
      content: '';
      width: 4px;
      height: 40px;
      position: absolute;
      left: 0;
      background: #41F6D7;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  &__tabs {
    margin-top: 24px;
  }

  &__tabs-list {
    display: flex;
    &--item {
      padding: 8px 16px;
      min-width: 246px;
      cursor: pointer;
    }
    &--item.active {
      border-radius: 6px;
      background: #ffffff;
      border: 2px solid $border-accent-color;
    }
  }



  &__tabs-content {
    margin-top: 24px;

    &-list--item-box + &-list--item-box {
      margin-top: 6px;
    }

    &-list--item-img {
      margin-top: 21px;
      transform: scale(1.1);
    }
    &-list--item {
      display: none;
    }
    &-list--item.active {
      display: block;
    }

    &-list--item-btn {
      margin-top: 24px;
    }
  }

}
