.title__banner {
  background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: $secondary-color;
  border-top: 1px solid $border-accent-color;
  padding: 16px;
}
