.brand {
  &:before {
    width: 24px;
    height: 81px;
    content: "";
    position: absolute;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    right: -4px;
    z-index: 2;
  }

  &__wrapper {
    margin-top: 16px;
  }

  &__item {
    width: 225px;
    height: 72px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
    margin-right: 17px;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 16px;
  }

  &__pagination {
    position: static;
    margin-top: 16px;
  }
  &__all {
    display: none;
  }

}


@media screen and (min-width: 768px) {
 .brand {
   &:before {
     display: none;
   }
   &__item {
     width: 224px;
     margin: 0;
     transition: transform 0.3s;
     position: relative;
     z-index: 2;
     &:hover {
       transform: scale(1.05);
     }
   }
    &__card {
      flex-wrap: wrap;
      gap: 1em 0.5em;
    }

   &__all {
     display: block;
     padding-left: 26px;
     position: relative;
     font-family: $font-medium;
     font-weight: 500;
     margin-top: 24px;
     &:before {
       content: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A");
       position: absolute;
       left: 0;
     }
   }
   &__slider {
     overflow: visible;
   }
 }
}

@media screen and (min-width: 1120px) {
  .brand {
    &__item {
      width: 240px;
    }

    &__item + &__item {
      margin-left: 0px;
    }

    &__card {
      gap: 1em 0.5em;
    }
  }
}

@media screen and (min-width: 1439px) {
  .brand {
    &__card {
      gap: 1em 1.5em;
    }
  }
}
